@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, sans-serif;
}

/* Nowoczesne paski przewijania */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

/* Nadpisanie PrimeVue pod styl Blue */
.p-button.p-button-outlined {
  border-color: #e2e8f0 !important;
  color: #64748b !important;
}
.p-button.p-button-outlined:hover {
  background: #f8fafc !important;
  border-color: #3b82f6 !important;
  color: #3b82f6 !important;
}
